bpo.register.ws.provider/src/main/webapp/wsdl/REG_MARKS_Reg_Number_Request.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://egov.bg/RegiX/PatentDepartment" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://egov.bg/RegiX/PatentDepartment">
	<xs:element name="getMarkByRegNum" type="getMarkByRegNumType">
		<xs:annotation>
			<xs:documentation>Справка по номер на марка</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getMarkByRegNumType">
		<xs:sequence>
			<xs:element name="regnum" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
