bpo.register.ws.provider/src/main/webapp/wsdl/REG_MARKS_App_Number_Request.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://egov.bg/RegiX/PatentDepartment" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://egov.bg/RegiX/PatentDepartment">
	<xs:element name="getMarkByAppNum" type="getMarkByAppNumType">
		<xs:annotation>
			<xs:documentation>Справка за статус на марка по заявителски номер</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getMarkByAppNumType">
		<xs:sequence>
			<xs:element name="appnum" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
