bpo.register.ws.client/src/main/resources/REG_MARKS_Reg_Number_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="getMarkByRegNum" type="getMarkByRegNumType">
		<xs:annotation>
			<xs:documentation>Справка по номер на марка</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getMarkByRegNumType">
		<xs:sequence>
			<xs:element name="regnum" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
