bpo.register.ws.provider/src/main/resources/REG_MARKS_Mark_Name_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="getMarksByName" type="getMarksByNameType">
		<xs:annotation>
			<xs:documentation>Справка по име  на марка</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="getMarksByNameType">
		<xs:sequence>
			<xs:element name="markname" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
