bpo.register.ws.provider/src/main/webapp/wsdl/external/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://egov.bg/RegiX/PatentDepartment" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://egov.bg/RegiX/PatentDepartment" version="1.0">
	<!-- ====================================================================== -->
	<!-- Filename    : TransactionHeaderType.xsd                                -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionHeaderType">
		<xs:sequence>
			<xs:element minOccurs="0" name="SenderDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="RequestProducer" type="xs:string"/>
						<xs:choice minOccurs="0">
							<xs:element name="RequestProducerDateTime" type="xs:dateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : TransactionCodeType.xsd                                  -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="TransactionCodeType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Trade Mark Information"/>
					<xs:enumeration value="Geographical Indication Information"/>
					<xs:enumeration value="Industrial Design Information"/>
					<xs:enumeration value="Patent Information"/>
					<xs:enumeration value="Utility Model Information"/>
					<xs:enumeration value="SPC Information"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : TransactionErrorType.xsd                                 -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionErrorType">
		<xs:sequence>
			<xs:element minOccurs="0" name="TransactionErrorCode" type="xs:token"/>
			<xs:element minOccurs="0" name="TransactionErrorText" type="TextType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkCurrentStatusCodeType.xsd                            -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                        -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Application filed"/>
			<xs:enumeration value="Filing date accorded"/>
			<xs:enumeration value="Classification checked"/>
			<xs:enumeration value="Application accepted"/>
			<xs:enumeration value="Application published"/>
			<xs:enumeration value="Application opposed"/>
			<xs:enumeration value="Application refused"/>
			<xs:enumeration value="Application deemed withdrawn"/>
			<xs:enumeration value="Application withdrawn"/>
			<xs:enumeration value="Appeal pending"/>
			<xs:enumeration value="Interruption of proceedings"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Registration opposed"/>
			<xs:enumeration value="Registration cancellation pending"/>
			<xs:enumeration value="Registration cancelled"/>
			<xs:enumeration value="Conversion requested"/>
			<xs:enumeration value="Registration surrendered"/>
			<xs:enumeration value="Revocation proceeding pending"/>
			<xs:enumeration value="Invalidity proceeding pending"/>
			<xs:enumeration value="Action before Court of Justice pending"/>
			<xs:enumeration value="Expired"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : DesignCurrentStatusCodeType.xsd                           -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="DesignCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Filed"/>
			<xs:enumeration value="Withdrawn"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Undefined"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : PatentCurrentStatusCodeType.xsd                           -->
	<!-- ====================================================================== -->
	<xs:simpleType name="PatentCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Filed"/>
			<xs:enumeration value="Withdrawn"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Undefined"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : DesignKindType.xsd                                       -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="DesignKindType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Drawing"/>
			<xs:enumeration value="Model"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : PatentKindType.xsd                                       -->
	<!-- ====================================================================== -->
	<xs:simpleType name="PatentKindType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="NationalPatent"/>
			<xs:enumeration value="SPCPatent"/>
			<xs:enumeration value="NationalUtilityModel"/>
			<xs:enumeration value="SPCUtilityModel"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : ViewType.xsd                                             -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ViewType">
		<xs:sequence>
			<xs:element minOccurs="0" name="ViewIdentifier" type="xs:token"/>
			<xs:element minOccurs="0" name="ViewFileFormat" type="FileFormatType"/>
			<xs:element minOccurs="0" name="ViewTitle" type="TextType"/>
			<xs:element minOccurs="0" name="ViewBinary" type="xs:base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : KindMarkType.xsd                                         -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="KindMarkType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Individual"/>
					<xs:enumeration value="Collective"/>
					<xs:enumeration value="Certificate"/>
					<xs:enumeration value="Guarantee"/>
					<xs:enumeration value="Defensive"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkFeatureType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkFeatureType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Word"/>
					<xs:enumeration value="Stylized characters"/>
					<xs:enumeration value="Figurative"/>
					<xs:enumeration value="Combined"/>
					<xs:enumeration value="3-D"/>
					<xs:enumeration value="Colour"/>
					<xs:enumeration value="Sound"/>
					<xs:enumeration value="Hologram"/>
					<xs:enumeration value="Olfactory"/>
					<xs:enumeration value="Motion"/>
					<xs:enumeration value="Municipal"/>
					<xs:enumeration value="Chimney"/>
					<xs:enumeration value="Kennfaden"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Undefined"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : WordMarkSpecificationType.xsd                            -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="WordMarkSpecificationType">
		<xs:sequence>
			<xs:element minOccurs="0" name="MarkVerbalElementText" type="TextType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : TextType.xsd                                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="languageCode" type="xs:language" use="optional"/>
				<xs:attribute name="sequenceNumber" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkImageType.xsd                                        -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkImageType">
		<xs:sequence>
			<xs:element minOccurs="0" name="MarkImageFileFormat" type="FileFormatType"/>
			<xs:element minOccurs="0" name="MarkImageBinary" type="xs:base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FileFormatType.xsd                                       -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="FileFormatType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="JPEG"/>
					<xs:enumeration value="TIFF"/>
					<xs:enumeration value="PNG"/>
					<xs:enumeration value="GIF"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : GoodsServicesType.xsd                                    -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="GoodsServicesType">
		<xs:sequence>
			<xs:element name="ClassDescriptionDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="ClassDescription" type="ClassDescriptionType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Filename    : ClassDescriptionType.xsd                                 -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ClassDescriptionType">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClassNumber" type="ClassNumberType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsServicesDescription" type="TextType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : ClassNumberType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="ClassNumberType">
		<xs:union memberTypes="xs:token NiceClassNumberType"/>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : NiceClassNumberType.xsd                                  -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="NiceClassNumberType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : ClassDescriptionType.xsd                                 -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="LocarnoClassDescriptionType">
		<xs:sequence>
			<xs:element name="ClassNumber" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProductDescription" type="TextType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : PriorityType.xsd                                         -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="PriorityType">
		<xs:sequence>
			<xs:element name="PriorityCountryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="PriorityNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="PriorityDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : ExhibitionPriorityType.xsd                               -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ExhibitionPriorityType">
		<xs:sequence>
			<xs:element minOccurs="0" name="ExhibitionCountryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ExhibitionCityName" type="xs:string"/>
			<xs:element minOccurs="0" name="ExhibitionName" type="xs:string"/>
			<xs:element name="ExhibitionDate" type="xs:date"/>
			<xs:element minOccurs="0" name="Comment" type="TextType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : PublicationType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="PublicationType">
		<xs:sequence>
			<xs:element name="PublicationIdentifier" type="xs:string"/>
			<xs:element minOccurs="0" name="PublicationSection" type="xs:string"/>
			<xs:element minOccurs="0" name="PublicationSubsection" type="xs:string"/>
			<xs:element minOccurs="0" name="PublicationDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : ApplicantType.xsd                                        -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ApplicantType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ApplicantIdentifier" type="xs:string"/>
			<xs:element minOccurs="0" name="ApplicantNationalityCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ApplicantAddressBook" type="AddressBookType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : AddressBookType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressBookType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="FormattedNameAddress" type="FormattedNameAddressType"/>
			</xs:choice>
			<xs:element minOccurs="0" name="ContactInformationDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Fax" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Email" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="URL" type="xs:anyURI"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="OtherElectronicAddress" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="PostalAddress" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedNameAddressType.xsd                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameAddressType">
		<xs:sequence>
			<xs:element minOccurs="0" name="Name" type="NameType"/>
			<xs:element minOccurs="0" name="Address" type="AddressType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : NameType.xsd                                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FormattedName" type="FormattedNameType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : AddressType.xsd                                          -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element minOccurs="0" name="AddressCountryCode" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="FormattedAddress" type="FormattedAddressType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RepresentativeType.xsd                                   -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RepresentativeType">
		<xs:sequence>
			<xs:element name="RepresentativeIdentifier" type="xs:integer"/>
			<xs:element minOccurs="0" name="RepresentativeNationalityCode" type="xs:string"/>
			<xs:element minOccurs="0" name="RepresentativeLegalEntity" type="xs:string"/>
			<xs:element minOccurs="0" name="RepresentativeAddressBook" type="AddressBookType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : DesignerType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="DesignerType">
		<xs:sequence>
			<xs:element name="DesignerNationalityCode" type="xs:string"/>
			<xs:element minOccurs="0" name="DesignerLegalEntity" type="xs:string"/>
			<xs:element minOccurs="0" name="DesignerAddressBook" type="AddressBookType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : InventorType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="InventorType">
		<xs:sequence>
			<xs:element name="InventorNationalityCode" type="xs:string"/>
			<xs:element minOccurs="0" name="InventorLegalEntity" type="xs:string"/>
			<xs:element minOccurs="0" name="InventorAddressBook" type="AddressBookType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedAddressType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameType">
		<xs:sequence>
			<xs:element minOccurs="0" name="NamePrefix" type="xs:string"/>
			<xs:element minOccurs="0" name="FirstName" type="xs:string"/>
			<xs:element minOccurs="0" name="MiddleName" type="xs:string"/>
			<xs:element minOccurs="0" name="LastName" type="xs:string"/>
			<xs:element minOccurs="0" name="SecondLastName" type="xs:string"/>
			<xs:element minOccurs="0" name="OrganizationName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedAddressType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedAddressType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AddressLine" type="TextType"/>
			<xs:element minOccurs="0" name="AddressMailCode" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressPostOfficeBox" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressRoom" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressFloor" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressBuilding" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressStreet" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressCity" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressCounty" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressState" type="xs:string"/>
			<xs:element minOccurs="0" name="AddressPostcode" type="xs:string"/>
			<xs:element minOccurs="0" name="FormattedAddressCountryCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
